

body {
  background: linear-gradient(rgb(0, 0, 0), #104186);
  
}
#container {
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: 0 100%;
}

.snow {
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(Bilder/Snow.png);
  background-repeat: repeat;
  animation: snowfall01 20s linear infinite;
}
.snow::before {
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(Bilder/Snow.png);
  background-repeat: repeat;
  content: '';
  animation: snowfall02 20s linear infinite;
}
.snow::after {
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(Bilder/Snow.png);
  background-repeat: repeat;
  content: '';
  
  animation: snowfall03 20s linear infinite;
}
@-webkit-keyframes snowfall01 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 150px 600px;
  }
}
@-webkit-keyframes snowfall02 {
  0% {
    background-position: 0 -200px;
  }
  100% {
    background-position: 0 600px;
  }
}
@-webkit-keyframes snowfall03 {
  0% {
    background-position: 0 200px;
  }
  100% {
    background-position: 300px 600px;
  }
}
@keyframes snowfall01 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 150px 600px;
  }
}
@keyframes snowfall02 {
  0% {
    background-position: 0 -200px;
  }
  100% {
    background-position: 0 600px;
  }
}
@keyframes snowfall03 {
  0% {
    background-position: 0 200px;
  }
  100% {
    background-position: 300px 600px;
  }
}